.header {
    padding: 1rem;
    background-color: #ffffff;
    text-align: center;
}

.header:hover {
    background-color: #deedfd;
    border: 1px #479ff6 solid;
    filter: opacity(70%);
    cursor: pointer;
    padding-left: 15rem;
    padding-right: 15rem;
}
